.checkbutton {
    background-color: transparent;
    width: 250px;
    height: 50px;
    position: fixed;
    bottom: 33%; /* Places the button roughly in the bottom third of the screen */
    right: 0; /* Aligns it to the far-right edge */
    margin-right: 90px; /* Adds some spacing from the right edge */
    color: gold;
}

.invCheck{
    background-color: rgb(105, 183, 126);
    margin-left: 30px;
}

.formStyle{
    margin-bottom:20px;
}


.copen {
    display: block;
    background-color: rgba(56, 74, 69, 0.881);
     width: 250px;
     height: 190px;
    font-size:medium;
    border-radius: 25px;
     padding:15px;
    
  }
  
  .cclose {
    display: none;
  }


  input[type='number']{
    width: 200px;
    border-radius: 5px;
    border-style:solid
} 

  .labelText{
    color:gold;
    font-weight: bold;
}

/* cancel button */
.cancelB{
    background-color: rgb(38, 48, 41);
    color:whitesmoke;
    font-weight: bold;
    margin:5px;
}

.cancelB:hover{
    background-color: rgb(148, 145, 159);
    color:rgb(43, 60, 46);
    font-weight: bold;
    border-color: transparent;
}

/* spoil button */
.spoilB{
    background-color: rgb(75, 52, 48);
    color:rgb(187, 138, 138);
    font-weight: bold;
    margin:5px;

}

.spoilB:hover{
    background-color: rgb(154, 101, 95);
    color:rgb(43, 60, 46);
    font-weight: bold;
    border-color: transparent;

}

/* consume button */
.consumeB{
    background-color: rgb(37, 67, 46);
    color:rgb(158, 198, 154);
    font-weight: bold;
    margin:5px;

}

.consumeB:hover{
    background-color: rgb(141, 182, 147);
    color:rgb(43, 60, 46);
    font-weight: bold;
    border-color: transparent;

}


  