.fc
{

background-color:rgba(92, 85, 80, 0.901);
border-radius: 10px;
border-width:5px;

padding: 20px;
height: 600px;
width:600px;
}




/*Toolbar*/
.fc-toolbar{

    background-color: rgb(124, 117, 107);
    border-radius: 10px;
    padding: 5px;
}
.fc-toolbar-title{
    font-family:monospace;
    font-weight:bold;
    color: gold;
}

/*Events or Cells*/
.fc-col-header-cell-cushion{

    background-color: rgba(69, 68, 66, 0.938);
    padding: 5px;
    width: 70px;
    height: 30px;
    margin-bottom: 10px;

    color:rgb(255, 235, 122);
    font-weight: bold;
    
  
}

.fc-col-header-cell{
  font-weight:bold;
}

 .fc-event{
    margin: 20px;
    border-width:5px;
}

.fc-daygrid-day-number{
    background-color: transparent;
    color:antiquewhite;
}

/* button css */
.fc-dayGridMonth-button.fc-button.fc-button-primary{
    background-color: rgb(72, 99, 99);
    font-weight: bold;
    color:rgb(185, 185, 185);
    border-color: transparent;
}

.fc-dayGridMonth-button.fc-button.fc-button-primary.fc-button-active{
    background-color: rgb(42, 57, 57);
    font-weight: bold;
    color:rgb(185, 185, 185);
    border-color: rgb(42, 57, 57);
}

.fc-listMonth-button.fc-button.fc-button-primary{
    background-color: rgb(72, 99, 99);
    font-weight: bold;
    color:rgb(185, 185, 185);
    border-color: transparent;
}

.fc-listMonth-button.fc-button.fc-button-primary.fc-button-active{
    background-color: rgb(42, 57, 57);
    font-weight: bold;
    color:rgb(185, 185, 185);
    border-color: rgb(42, 57, 57);
}


/* list css */
.fc-list-day-cushion.fc-cell-shaded{
    background-color: rgba(55, 50, 47, 0.901);
}

.fc-listMonth-view.fc-view.fc-list.fc-list-sticky{
    border-color: rgba(71, 65, 61, 0.938);
    border-radius: 3px;
}

.fc-list-day-text{
    color:whitesmoke;

}

.fc-list-event-title{
    font-weight: bold;
    font-family: monospace;
    font-size: large;
    color:goldenrod;
}

.fc-list-event-graphic{
   color:antiquewhite;
}

.fc-list-event-time{
    color: transparent;
}

.fc-list-day-side-text{
    color:rgb(185, 185, 185);
}

.fc-list-table .fc-list-event:hover td {
    background-color: rgba(133, 122, 116, 0.645)
  }

.predictiveButton {
    background-color: rgb(55, 80, 59);
    color:rgb(164, 202, 171);
    display: inline-block;

    margin-bottom: 30px;
    margin-left: 320px;
    margin-bottom: -10px;
    height: 50px;
    width: 260px;
    font-weight: bold;
    font-size: 15px;
}

.predictiveButton:hover{
    background-color: rgb(29, 42, 31);
    border-color: rgb(29, 42, 31);;
}

/* calendar key */
.calKey{
    background-color: rgba(71, 65, 61, 0.814);
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: -50px;

    width: 260px;
    height: 50px;
}

.keyHeader{
    font-size: medium;
    font-weight: bold;
    color:gold;
    font-family: monospace;
    padding: 0;
    margin: 0;
}

.keyStatement{
    font-size:large;
    color:rgb(230, 230, 230);
    display: inline-block;
    padding: 0;
    margin: 0;
}

.greybox{
    background-color: #848484;
    height: 18px;
    width: 70px;
    color:aliceblue;
    border-radius: 5px; 
    display: inline-block; 
    padding: 0;
    margin: 0;
    margin-left: 5px;
}

.redbox{
    background-color: #ee6461;
    height: 18px;
    width: 35px;
    color:aliceblue;
    border-radius: 5px;
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-left: 5px;
}

.yellowbox{
    background-color: #eed661;
    height: 18px;
    width: 35px;
    color:aliceblue;
    border-radius: 5px;
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-left: 5px;

}

.greenbox{
    background-color: #629c59;
    height: 18px;
    width: 35px;
    color:aliceblue;
    border-radius: 5px;
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-left: 5px;
}

.keyText{
    font-size: medium;   
}
