.wrapper{
    font-family:monospace;
    font-size:large;
    width:500px;

    background-color: rgba(76, 63, 55, 0.953);
    border: 2px solid rgb(93, 145, 111);
    border-radius: 20px;
    padding:30px 40px;
    margin: 0 auto;
}
/*Sign in Header*/
.hStyling{
   margin-bottom: 30px;
   font-size: 30px;
   color: goldenrod;
    
}

  /*Buttons*/
.button1{
    background-color: black;
    border: 1px solid goldenrod;
    color: burlywood;


}

.button2{
    color:goldenrod;
    background-color: transparent;
}

.button2:hover
{
    color:peachpuff;
    border-color: gold;
}

.button2:active{
    color:gold;
}

  /*Input Fields*/
input[type=text], input[type = password] {
    border: darkgoldenrod;
    border-radius: 4px;
    margin-bottom: 10px;
    color:black;
    font-size: 17px;
    background-color: darkgrey;
   
  }

  input[type=text]:focus, input[type = password]:focus{
    background-color: burlywood;
 
  }


  /*Register Button*/
  .regMessage{
    margin-top: 30px;
    color:goldenrod;
  }
  .registerNow{
    background-color: rgb(27, 26, 25);
    color:goldenrod;
    font-weight: bold;
  }

  .registerNow:hover{
    background-color: goldenrod;
    border-color: goldenrod;
    color:rgb(36, 54, 42);
    font-weight: bold;
  }