.table-container {
    width: 100%;
    margin: 30px auto;
}

.table-container table {
    width: 110%;
    border-collapse: collapse;
}

.table-container th, .table-container td {
    border: 2px solid hsl(0, 43%, 5%);
    padding: 5px;
    text-align: left;
}

.table-container th {
    background-color: rgba(56, 74, 69, 0.881);
    font-weight: bold;
    text-align: center;
}

.table-container tr{
    background-color: rgba(56, 74, 69, 0.881);
    height: 40px;
}

.table-container tr:hover {
    background-color: #1ed479;
}


.table-container button {
    background-color: #2b722d;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 9px;  
}

.table-container button:hover {
    background-color: #45a049;
}

.table-container td {
    border: 2px solid hsl(0, 43%, 5%);
    padding: 5px;
    text-align: left;
    min-width: 150px; 
}

.table-container td:last-child {
    text-align: center;
}

.bubble-text {
    background-color:  rgba(56, 74, 69, 0.881);;
    padding: 10px 20px;
    border-radius: 20px;
    display: block;
    color: #faae0a;
    font-weight: 500;
    margin: 20px 0;
    text-align: center;
}

.bubble-heading {
    background-color: rgba(56, 74, 69, 0.881);
    padding: 15px 30px;
    border-radius: 25px;
    display: block;
    color: #faae0a; 
    font-weight: bold;
    margin: 30px 0 10px 0;
    font-size: 24px;
    text-align: center;
}
